<section>
    <a class="dash-btn" href="/">
        <button mat-raised-button color="primary">
                <mat-icon>dashboard</mat-icon>
                <h2>Dashboard</h2>
        </button>
    </a>

    <mat-divider></mat-divider>
    <mat-button-toggle-group>

        <h3>Períodos</h3>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-button-toggle (click)="setPeriod('2021')">2021</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle (click)="setPeriod('2022')" [checked]="true">2022</mat-button-toggle>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <h3>Lojas</h3>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-button-toggle value="alvorada" (click)="setStore('Alvorada')">Alvorada</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="vilaverde" (click)="setStore('Vila-Verde')">Vila-Verde</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="centro" (click)="setStore('Centro')">Centro</mat-button-toggle>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <h3>Produtos</h3>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-button-toggle value="canecas" (click)="setProduct('Canecas')">Canecas</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="camisetas" (click)="setProduct('Camisetas')">Camisetas</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="livros" (click)="setProduct('Livros')">Livros</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="posteres" (click)="setProduct('Pôsteres')">Pôsteres</mat-button-toggle>
            </mat-list-item>
        </mat-list>

    </mat-button-toggle-group>
    <mat-divider></mat-divider>

    <div class="loading">
        <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="'20'" [diameter]="'30'"></mat-progress-spinner>
        <h2>Executando</h2>
    </div>

    <button mat-raised-button color="warn">
        <span>
            <mat-icon>stop</mat-icon>
            <h2>Encerrar</h2>
        </span>
    </button>
</section>