section {
    display: flex;
    padding: 15px 25px;
    flex-direction: column;
    background-color: #fff;
    margin: 0px 20px;
}

h3 {
    font-weight: 500;
    margin-bottom: 0px;
}

mat-list {
    padding-top: 0px;
}

mat-divider {
    margin: 7px 0px;
}

mat-button-toggle-group {
    border: 0px;
}

mat-button-toggle {
    border-radius: 10px;
    padding: 0px 15px;
}

.mat-button-toggle-checked {
    background-color: blue;
    color: #fff;
}

.loading {
    margin-top: 10px;
    display: flex;
}
.loading h2 {
    margin-left: 10px;
}

span {
    display: flex;
    align-items: center;
    padding: 5px;
}
span h2 {
    margin: 0px;
    margin-left: 10px;
}