<!-- cSpell:words Períodos Produtos Lojas Canecas Camisetas Livros Pôsteres Alvorada Centro -->
<section>
    <span>
        <mat-icon>dashboard</mat-icon>
        <h2>Dashboard</h2>
    </span>

    <mat-divider></mat-divider>

    <h3>Períodos</h3>
    <mat-button-toggle-group name="years-btn" aria-label="Font Style">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-button-toggle value="2021">2021</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="2022">2022</mat-button-toggle>
            </mat-list-item>
        </mat-list>
    </mat-button-toggle-group>

    <mat-divider></mat-divider>

    <h3>Produtos</h3>
    <mat-button-toggle-group name="products-btn" aria-label="Font Style">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-button-toggle value="canecas">Canecas</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="camisetas">Camisetas</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="livros">Livros</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="posteres">Pôsteres</mat-button-toggle>
            </mat-list-item>
        </mat-list>
    </mat-button-toggle-group>

    <mat-divider></mat-divider>

    <h3>Lojas</h3>
    <mat-button-toggle-group name="stores-btn" aria-label="Font Style">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-button-toggle value="alvorada">Alvorada</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="vilaverde">Vila-Verde</mat-button-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-button-toggle value="centro">Centro</mat-button-toggle>
            </mat-list-item>
        </mat-list>
    </mat-button-toggle-group>

</section>