<!--cSpell:disable  -->
<mat-grid-list cols="7" rowHeight="100px" id="grid" [gutterSize]="'20px'">


  <!-- SideNav -->
  <mat-grid-tile [colspan]="1" [rowspan]="7" [style.background]="'#fff'">
    <app-sidenav (period)="getPeriod($event)" (store)="getStore($event)" (product)="getProduct($event)"></app-sidenav>
  </mat-grid-tile>


  <!-- Top Cards -->
  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#fff'">
    <app-info-card [title]="'Total de Vendas'" [value]="totalSales"></app-info-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#fff'">
    <app-info-card [title]="'Total de Faturamento'" [value]="'R$ ' + invoicing"></app-info-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#fff'">
    <app-info-card [title]="'Total de Clientes'" [value]="totalClients"></app-info-card>
  </mat-grid-tile>


  <!-- Main Graphic -->
  <mat-grid-tile [colspan]="4" [rowspan]="4" [style.background]="'#fff'">
    <app-graphic [chartData]="mainChartData"></app-graphic>
  </mat-grid-tile>


  <!-- Big Donut Graphic -->
  <mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'#fff'">
    <app-donut-graphic [chartData]="productsSalesChartData"></app-donut-graphic>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'#fff'">
    <app-donut-graphic [chartData]="storesSalesChartData"></app-donut-graphic>
  </mat-grid-tile>


  <!-- Small Donut Graphic -->
  <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'#fff'">
    <app-graphic [chartData]="smallChartData"></app-graphic>
  </mat-grid-tile>



  <!-- Bottom Graphic -->
  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#fff'">
    <app-info-card [title]="'Custo Operacional'" [value]="'R$ ' + operationalCost"></app-info-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#fff'">
    <app-info-card [title]="'Funcionários'" [value]="'182'"></app-info-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#fff'">
    <app-info-card [title]="'Estoque'" [value]="inventory"></app-info-card>
  </mat-grid-tile>


</mat-grid-list>
