<mat-grid-list cols="6" rowHeight="100px" id="grid" [gutterSize]="'20px'">

  <mat-grid-tile [colspan]="1" [rowspan]="7" [style.background]="'#fff'">
    <app-sidenav></app-sidenav>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#fff'">
    <app-top-card [title]="'Total de Produtos'" [value]="'30.000'"></app-top-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#0f0'">Total of Invoicing</mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="4" [style.background]="'#fff'">
    <app-graphic></app-graphic>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#ff0'">Store1</mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#ff0'">Store2</mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#ff0'">Store3</mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#0ff'">Product1</mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#0ff'">Product2</mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#0ff'">Product3</mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#0ff'">Product4</mat-grid-tile>
  

</mat-grid-list>
