:host {
    display: flex;
    width: 100%;
    height: 100%;
}
mat-card {
    padding: 10px !important;
    width: 100%;
}
mat-card-header {
    display: block;
}
mat-card-title {
    width: 100%;
    margin: 0px !important;
    text-align: center;
    font-size: 36px !important;
    color: #00b5a4;
}
mat-card-subtitle {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 0px !important;
}