<mat-toolbar id="toolbar">

    <div class="toolbar-section">
        <mat-icon class="icon" id="user-account" aria-hidden="false">account_circle</mat-icon>
        <span>Maurício</span>
    </div>

    <div class="toolbar-section">
        <mat-icon class="icon" aria-hidden="false">home</mat-icon>
        <mat-icon class="icon" aria-hidden="false">settings</mat-icon>
        <mat-icon class="icon" aria-hidden="false">favorite</mat-icon>
        <div class="search">
            <input matInput type="text" placeholder="Search...">
            <mat-icon class="icon" aria-hidden="false">search</mat-icon>
        </div>
        <mat-icon class="icon" aria-hidden="false">download</mat-icon>
        <mat-icon class="icon" aria-hidden="false">notifications</mat-icon>
        <mat-icon class="icon" aria-hidden="false">location_on</mat-icon>
    </div>

</mat-toolbar>
